@model IEnumerable<IS_SureBet.Models.BetData>

@{
    ViewData["Title"] = "Index";
}

<h1>Proximas Apuestas</h1>
<br />

<table class="table table-warning table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Deporte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mercado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CasaApuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
   @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Deporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mercado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beneficio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CasaApuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limite)
            </td> 
        </tr>
  }
    </tbody>
</table>
