@model IEnumerable<IS_SureBet.Models.BetData>

@{
    ViewData["Title"] = "Index";
}

<div class="sports">
    <div><img src="~/img/home.png"/> Home </div>
    <div><img src="~/img/football2.png"/>Futbol</div>
    <div><img src="~/img/football_a.png"/>Futbol Americano</div>
    <div><img src="~/img/basketball.png"/>Baloncesto</div>
    <div><img src="~/img/baseball.png"/>Beisbol</div>
    <div><img src="~/img/tennis.png"/>Tenis</div>
</div>
<br />
<div class="Main">
   <div class="filter"> </div>

     @foreach (var item in Model) {
      <div class="BetList">

        <div class="Cab"> 
          <div><img src="~/img/soccer.png" alt="Football" height="30" width="30"> </div>
          <div>@Html.DisplayFor(modelItem => item.Competicion)</div>
          <div>@Html.DisplayFor(modelItem => item.Fecha)</div>
        </div>

        <div class="Det"> 
          <div>@Html.DisplayFor(modelItem => item.Evento) </div>
          <div>Cuota @Html.DisplayFor(modelItem => item.Cuota)</div>
          <div>@Html.DisplayFor(modelItem => item.CasaApuesta)</div>
       </div>

       <div class="Res">Resultado Final @Html.DisplayFor(modelItem => item.Mercado)</div>
       <div class="Beneficio"> 
          <p>@Html.DisplayFor(modelItem => item.Beneficio).00% GARANTIZADO BENEFICIO</p>
                <a class="btn btn-success" asp-area="" asp-controller="BetData" asp-action="Detalles" asp-route-id="@item.IdBet">Detalles</a>
            </div>
     </div>
     }

  
</div>