@model IS_SureBet.Models.BetData

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de Apuesta Segura</h1>

<div>
    <h4>SureBet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mercado)
        </dt>
        <dd class = "col-sm-10">
            Partido Completo @Html.DisplayFor(model => model.Mercado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Competicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beneficio).00%
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasaApuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasaApuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Limite)
        </dt>
        <dd class = "col-sm-10">
            S/. @Html.DisplayFor(model => model.Limite).00
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-controller="BetData" asp-action="BetList">Volver</a>
</div>
