@model IS_SureBet.Models.BetData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BetData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mercado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mercado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Competicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beneficio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasaApuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasaApuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Limite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Limite)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdBet">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
